body {
	font-family: Verdana, Arial, Tahoma, Serif;
	margin: 0;
	min-width: 300px;
}

header {
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 20px;
	justify-content: space-around;
	padding: 0 24px;
}

figure {
	border-radius: 12px;
	margin: 0;
	outline: gray dashed 2px;
	padding: 12px;
	text-align: center;
	transition: transform 0.2s;
	width: max(250px, 20%);
	background: white;

	&:hover {
		transform: scale(1.14);
		z-index: 1;
	}

	img {
		max-width: 100%;
	}
}

footer {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 30px 0 10px;
}
